{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='default-user.png') }}">
            <div class="media-body">
            <h5 class="account-heading">{{ current_user.username }}</h5>
            <p class="text-secondary">{{ current_user.email }}</p>
            <p class="text-secondary"><strong>Current Region - </strong> {{ current_user.country }}</p>
            </div>
        </div>
    </div>
{% endblock content %}