<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='musyk-me-ico.ico') }}"/>
    {% if title %}
        <title>Musyk - {{ title }}</title>
    {% else %}
        <title>Musyk</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container fantasy-font">
          <img class="musyk-logo" src="{{ url_for('static', filename='musyk-me-logo.jpg') }}" alt="Musyk">
          <a class="navbar-brand mr-4 larger-txt" href="/">Musyk</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('toptracks') }}">Top Tracks</a>
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('playlists') }}">My Playlists</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="flex-column-rev">
        <div class="w-75 mr-2">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="w-25">
          {% if current_user.is_authenticated %}
            <div class="content-section">
                <h5>Your region</h5>
                <select name="comp_select" id="country" class="selectpicker form-control">
                  {% for country in countries %}
                    <option value="{{ country.name }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
            </div>
          {% else %}
            <div class="content-section">
                <h4> <a href="{{ url_for('register') }}">Sign up</a> for country trends</h4>
            </div>
          {% endif %}
        </div>
      </div>
    </main>

    <script>
      let country_select = document.getElementById('country');
      if (country_select){
          country_select.onchange = function(){
          country = country_select.value + ',{{ current_user.username }}';
          fetch("/country/" + country)
        }
        
        const currCountry = '{{ current_user.country }}';
        if (currCountry){
          country_select.value = currCountry;
        }
      }

      function delete_track(track_id){
          $.ajax({
              data : { trackId : track_id },
              type : 'POST',
              url : '/playlists',
              success: function(response) {
                  $("#place_for_updated_playlist").html(response);
                  $(`#errorAlert`).hide();
                  $(`#successAlert`).text("Track removed from playlist").show();
              },
              error: function(xhr) {
                  $(`#successAlert`).hide();
                  $(`#errorAlert`).text("Oops! some error.").show();
              }
          });
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
