{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
      <div class="row-fluid">
        <div><h4>Top tracks {% if current_user.is_authenticated %}
             in <span class="track-region-country">{{ current_user.country }}</span>
             {% else %} <span class="track-region-world"> across the globe</span> {% endif %}</h4></div>
      </div>
      <div class="mt-4">
          {% for track in toptracks %}
              <article class="media content-section">
                <div class="media-body artist-img">
                  <div name="successAlert" id="successAlert_{{ loop.index }}" class="alert alert-success" role="alert" style="display:none;"></div>
                  <div name="errorAlert" id="errorAlert_{{ loop.index }}" class="alert alert-danger" role="alert" style="display:none;"></div>
                  <div class="article-metadata float-left">
                    <div><a class="mr-2" href="{{ track.url }}">{{ track.name }}</a></div>
                    <div><small>by <a class="mr-2" href="{{ track.artist.url }}">{{ track.artist.name }}</small></a></div>
                    <div><small>Played <strong>{{ track.playcount }}</strong> times</small></div>
                    <div><small><strong>{{ track.listeners }}</strong> listeners worldwide</small></div>
                  </div>
                  <div class="artist-image-div">
                    <img onclick='add_to_playlist("{{ loop.index }}","{{ track.name }}", "{{ track.artist.name }}")'
                      title="Add to your playlist"
                      src="{{ track.image[1]['#text'] }}" class="svg artist-image" fill="white" height="100"
                      vertical-align="middle" width="100"/>
                  </div>
                </div>
              </article>
          {% endfor %}
      </div>
      <script>
        function add_to_playlist(index, track_name, artist){
          $.ajax({
              data : {
                  name : track_name,
                  artist : artist,
                  user_id : '{{ current_user.id }}'
              },
              type : 'POST',
              url : '/add_to_playlist'
          })
          .done(function(data) {
            $('div[name=successAlert]').hide();
            $('div[name=errorAlert]').hide();
            if (data.error) {
              $(`#errorAlert_${index}`).text(data.error).show();
            }
            else {
              $(`#successAlert_${index}`).text(data.success).show();
            }
          });
        }
      </script>
  </div>
    
{% endblock content %}