{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
      <div class="row-fluid">
        <div><h3>Top Tracks</h3></div>
      </div>
      <div class="mt-4">
          {% for track in toptracks %}
              <article class="media content-section">
                <div class="media-body artist-img">
                  <div class="article-metadata float-left">
                    <div><a class="mr-2" href="{{ track.url }}">{{ track.name }}</a></div>
                    <div><small>by <a class="mr-2" href="{{ track.artist.url }}">{{ track.artist.name }}</small></a></div>
                    <div><small>Played <strong>{{ track.playcount }}</strong> times</small></div>
                    <div><small><strong>{{ track.listeners }}</strong> listeners worldwide</small></div>
                  </div>
                  <div class="float-right">
                    <img onclick="add_to_playlist('{{ track.name }}', '{{ track.artist.name }}')"
                      title="Add to your playlist"
                      src="{{ track.image[1]['#text'] }}" class="svg artist-image" fill="white" height="100"
                      vertical-align="middle" width="100">
                  </div>
                </div>
              </article>
          {% endfor %}
      </div>
      <script>
        function add_to_playlist(track_name, artist){
          const reqParams = `?name=${track_name}&artist=${artist}&user_id=${'{{ current_user.id }}'}`
          const fullUrl = '/add_to_playlist' + reqParams;
          fetch(fullUrl);
        } 
      </script>
  </div>
    
{% endblock content %}