{% extends "layout.html" %}
{% block content %}
    <div class="row-fluid">
      <div class="col-5"><h3 class="mt-2">Top Tracks</h3></div>
    </div>
    <div class="mt-4">
        {% for track in toptracks %}
            <article class="media content-section">
              <div class="media-body artist-img">
                <div class="article-metadata float-left">
                  <div><a class="mr-2" href="{{ track.url }}">{{ track.name }}</a></div>
                  <div><small>by <a class="mr-2" href="{{ track.artist.url }}">{{ track.artist.name }}</small></a></div>
                  <div><small>Played <strong>{{ track.playcount }}</strong> times</small></div>
                  <div><small><strong>{{ track.listeners }}</strong> listeners worldwide</small></div>
                </div>
                <div class="float-right">
                  <img src="{{ track.image[1]['#text'] }}" class="svg artist-image" fill="white" height="100" vertical-align="middle" width="100">
                  <div class="middle">
                    <div class="artist-image-text">Add to playlist</div>
                  </div>
                </div>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}